{% extends 'base.html' %}
{% block title %}Lista de Clientes{% endblock %}
{% block content %}
    <h1>Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>CPF/CNPJ</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.pessoa }}</td>
                <td>{% if cliente.pessoa.is_fisica %}Pessoa Física{% else %}Pessoa Jurídica{% endif %}</td>
                <td>{% if cliente.pessoa.is_fisica %}{{ cliente.pessoa.pessoafisica.cpf }}{% else %}{{ cliente.pessoa.pessoajuridica.cnpj }}{% endif %}</td>
                <td>{% if cliente.ativo %}Ativo{% else %}Inativo{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
